:root {
    --symbol: #ffeddb;
    --_2: #392203;
    --margin-sm: 16px;
    --margin-md: 32px;
}

* {
    --min-screen-size: 430;
    --max-screen-size: 1440;
    --interpolate-diff: calc(var(--max-font-size) - var(--min-font-size));
    --interpolate: clamp(calc(var(--min-font-size) * 1px), calc((var(--min-font-size) * 1px) + var(--interpolate-diff) * ((100vw - calc(var(--min-screen-size) * 1px)) / (var(--max-screen-size) - var(--min-screen-size)))), calc(var(--max-font-size) * 1px));
}

html {
    height: 100%;
    font-size: 16px;
}

.title {
    --min-font-size: 35; --max-font-size: 64; font-size: var(--interpolate);
    font-family: 'Montserrat Alternates';
    font-weight: 500;
    letter-spacing: -0.63px;
}

.sub-text {
    color: #fea430;
}

.sub-text-symbol {
    color: var(--symbol);
}

.section {
    display: flex;
    flex-direction: column;
    background-color: var(--_2);
    padding: 0 24px;
}

.card1 {
    width: 459px;
    display: flex;
    flex-direction: column;
    background-color: var(--symbol);
    padding: 0 9px 19px 9px;
    border: 4px solid var(--symbol);
    border-radius: 15px;
}

.input {
    border-radius: 15px;
}

.hover-bright:hover {
    filter: brightness(1.2);
}

.hover-zoom:hover {
    scale: 1.05;
}

/* Новий ефект плавного спливання для карток */
.hover-float {
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.3s ease;
    will-change: transform, box-shadow;
}

.hover-float:hover {
    transform: translateY(-12px);
    box-shadow: 0 20px 35px rgba(42, 24, 0, 0.25);
}

@font-face {
    font-family: 'Apple Garamond';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/apple-garamond-bold.ttf);
}


@font-face {
    font-family: 'Editorial New';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/editorial-new-bold.ttf);
}


@font-face {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/neue-montreal-light.ttf);
}

body {
    container: body / inline-size;
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    line-height: 1.5;
    background-color: var(--symbol);
    overflow: auto;
}

.group {
    margin-left: -10px; margin-top: -7px;
    flex-shrink: 0;
    align-self: center;
}

.text-symbol-a {
    color: #fea430;
    font-size: 16px;
    font-weight: 700;
}

.footer-text-symbol {
    color: #e8a020;
    font-size: 15px;
    font-weight: 700;
}

.img {
    position: absolute; top: 1334px; left: 194px; 
    width: calc(100% - 194px);
    max-width: 518px;
    border: 2px solid #fea430;
    border-radius: 20px;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 55px;
    color: #fea430;
    font-size: 24px;
    font-family: 'Editorial New';
    font-weight: 700;
    letter-spacing: -0.24px;
    padding: 0 24px;
    border: 2px solid #fea430;
    overflow: hidden;
}

.header-subtitle-symbol {
    text-align: left;
}

.header-subtitle {
    margin-left: 13px; margin-top: 69px;
}

.header-row {
    position: relative;
    margin-left: 23px; margin-top: 79px;
    width: 104px;
    min-height: 23px;
    flex-shrink: 0;
    text-align: left;
}

.header-subtitle-symbol1 {
    position: absolute; top: -11px; left: -1px; right: -3px; 
}

.header-subtitle-symbol2 {
    position: absolute; top: -11px; left: -1px; right: -3px; 
}

.header-subtitle-symbol3 {
    margin-left: 11px; margin-top: 64px;
}

.header-btn-strm {
    margin-left: 10px; margin-top: -5px;
    width: 267px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    color: #fff;
    font-size: 48px;
    font-family: 'Apple Garamond';
    font-style: normal;
    letter-spacing: -0.48px;
    text-align: center;
    background-color: #fea430;
    padding: 43px 10px;
}

.header-subtitle-symbol4 {
    margin-left: 29px; margin-top: 69px;
}

.header-subtitle-symbol5 {
    margin-left: 33px; margin-top: 68px;
}

.header-btn-right {
    margin-top: 54px;
    display: flex;
    font-style: normal;
    letter-spacing: -0.24px;
    text-align: left;
    padding: 8px 10px 8px 9px;
    border: 2px solid var(--symbol);
    border-radius: 18px;
    border-color: #e8a020;
}

.hero {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 31px;
    color: #fff;
    text-align: left;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 75%) top left / auto auto no-repeat, url(../assets/hero.png) top left / cover no-repeat;
    padding: 263px 382px 102px 92px;
    border: 2px solid #fea430;
}

.hero-title {
    width: 100%;
    max-width: 724px;
    min-height: 161px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    align-self: start;
}

.hero-subtitle {
    min-height: 144px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    --min-font-size: 17; --max-font-size: 24; font-size: var(--interpolate);
    font-family: 'Neue Montreal';
    font-weight: 300;
    letter-spacing: -0.24px;
}

.subtitle {
    margin: 438px 128px 0 auto;
    width: 90%;
    max-width: 409px;
    align-self: end;
    color: #000;
    --min-font-size: 25; --max-font-size: 45; font-size: var(--interpolate);
    font-family: 'Montserrat Alternates';
    font-weight: 600;
    letter-spacing: -0.45px;
    text-align: left;
}

.text-symbol1 {
    margin-left: auto; margin-right: 186px;
    width: 90%;
    max-width: 348px;
    min-height: 552px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    align-self: end;
    color: #000;
    --min-font-size: 16; --max-font-size: 20; font-size: var(--interpolate);
    font-family: 'Neue Montreal';
    font-weight: 300;
    letter-spacing: -0.2px;
    text-align: left;
}

.title-symbol1 {
    margin: 216px 24px 0 24px;
    color: #fea430;
    text-align: center;
}

.row1 {
    margin-top: 70px;
    display: flex;
    align-items: flex-start;
    gap: 166px;
    align-self: center;
    color: #fea430;
    font-size: 48px;
    font-family: 'Montserrat Alternates';
    font-weight: 400;
    letter-spacing: -0.48px;
}



/* card-a */

.card-a {
    width: 459px;
    min-height: 448px;
    display: flex;
    flex-direction: column;
    gap: 31px;
    flex-shrink: 0;
    text-align: center;
    background-color: var(--symbol);
    padding: 60px 9px 18px 9px;
    border: 4px solid var(--symbol);
    border-radius: 15px;
    border-color: #e8a020;
}

.card-img {
    width: 259px;
    flex-shrink: 0;
    align-self: center;
}
/* end card-a*/


.row2 {
    margin-top: 75px;
    display: flex;
    align-items: flex-start;
    gap: 166px;
    align-self: center;
    color: #fea430;
    font-size: 47px;
    font-family: 'Montserrat Alternates';
    font-weight: 400;
    letter-spacing: -0.47px;
}

.card-electro {
    min-height: 448px;
    gap: 39px;
    flex-shrink: 0;
    text-align: center;
    padding-top: 53px;
    border-color: #e8a020;
}

.card-electro-img {
    margin-left: 1px;
    width: 258px;
    flex-shrink: 0;
    align-self: center;
}

.card-bass {
    min-height: 448px;
    gap: 37px;
    flex-shrink: 0;
    text-align: center;
    padding-top: 56px;
    border-color: #e8a020;
}

.card-bass-col {
    position: relative;
    margin-left: 1px;
    width: 258px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.card-bass-img1 {
    position: absolute; top: -3px; left: 0; right: 0; 
    width: 100%;
}

.card-bass-img2 {
    position: relative; z-index: 1;
    flex-shrink: 0;
}

.title-symbol2 {
    margin: 414px 24px 0 24px;
    color: #fea430;
    --min-font-size: 35; --max-font-size: 64; font-size: var(--interpolate);
    font-family: 'Montserrat Alternates';
    font-weight: 300;
    letter-spacing: -0.63px;
    text-align: center;
}

.row3 {
    margin-top: 29px;
    display: flex;
    align-items: flex-start;
    gap: 106px;
    align-self: center;
    color: #000;
    font-size: 20px;
    letter-spacing: -0.2px;
}



/* card-b */

.card-b {
    width: 340px;
    min-height: 484px;
    display: flex;
    flex-direction: column;
    gap: 57px;
    flex-shrink: 0;
    text-align: center;
    background-color: #fff;
    padding: 32px 25px;
    border-radius: 15px;
    
}

.card-text-lorem-ipsum {
    margin: 0 3px;
    min-height: 315px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: 'Neue Montreal';
    font-weight: 300;
}

.card-row-bottom {
    width: 261px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-self: start;
    font-family: 'Montserrat Alternates';
    font-weight: 500;
}

.card-circle {
    width: 48px; height: 48px;
    flex-shrink: 0;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.card-text-symbol {
    margin-top: 9px;
    text-align: center;
}
/* end card-b*/


.col1 {
    container: col1 / inline-size;
    margin-top: 383px;
    gap: 84px;
    font-family: 'Montserrat Alternates';
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 92px;
    padding-bottom: 90px;
}

.subtitle-why-heading {
    color: #fff;
    --min-font-size: 22; --max-font-size: 38; font-size: var(--interpolate);
    font-weight: 600;
}

.row-bottom {
    margin-left: -3px;
    display: flex;
    align-items: flex-start;
    gap: 117px;
    align-self: center;
    color: #c8a880;
    font-size: 13px;
    font-weight: 400;
    padding-left: 7px;
    padding-top: 6px;
}



/* column */

.column {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    text-align: center;
    padding-bottom: 6px;
}

.column-group2 {
    display: flex;
    flex-direction: column;
}
/* end column*/


.col-left {
    margin-top: 1px; margin-bottom: -7px;
    width: 143px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-shrink: 0;
    text-align: center;
    padding-bottom: 6px;
}

.group1 {
    margin-left: -12px;
    width: 43px;
}

.group2 {
    margin-left: -14px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.group-text {
    margin-top: 7px;
}

.group-text-symbol1 {
    margin-top: 5px;
}

.group3 {
    margin-left: 34px;
    width: 166px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    flex-shrink: 0;
    text-align: center;
}

.group-group {
    margin-left: 1px;
    width: 51px;
    flex-shrink: 0;
    align-self: center;
}

.group-text-symbol3 {
    margin-top: 20px;
}

.group-text-symbol4 {
    margin-left: -1px; margin-top: 3px;
    width: 127px;
    align-self: center;
}

.col2 {
    margin-left: 39px; margin-top: 5px;
    width: 165px;
    gap: 22px;
    padding-right: 3px;
}

.col2 .column-group1 {
    width: 36px;
}

.col2 .column-group2 {
    margin-left: -11px;
}

.col2 .column-text-symbol {
    margin-top: 13px;
}

.col-right {
    margin-right: -7px; margin-top: 4px;
    width: 167px;
    gap: 23px;
    padding-right: 5px;
}

.col-right .column-group1 {
    width: 45px;
}

.col-right .column-group2 {
    margin-left: -10px;
    gap: 1px;
}

.col-right .column-text-symbol {
    margin-top: 8px;
}

.newsletter {
    container: newsletter / inline-size;
    margin-top: 179px;
    display: flex;
    flex-direction: column;
    gap: 31px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    background-color: var(--symbol);
    padding: 107px 23px 124px 23px;
    border: 1px solid var(--symbol);
    border-color: #e8a020;
}

.newsletter-subtitle {
    color: #3a2a10;
    --min-font-size: 19; --max-font-size: 30; font-size: var(--interpolate);
    font-family: 'Montserrat Alternates';
    font-weight: 700;
}

.newsletter-text {
    color: #7a6a50;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 400;
}

.input-group-bottom {
    margin-left: -10px; margin-top: 8px;
    display: flex;
    align-items: flex-start;
    gap: 9px;
    align-self: center;
    font-size: 14px;
    border-color: #e8a020;
}

.input-group-bottom-symbol {
    margin: -1px 0 -1px -1px;
    width: 402px;
    flex-shrink: 0;
    color: #b0a090;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    padding: 23px 19px 32px 19px;
    border: 2px solid var(--symbol);
    border-radius: 12px 8px 13px 8px;
    border-color: #e8a020;
}

.input-group-bottom-btn {
    width: 180px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: center;
    background-color: #e8a020;
    padding: 24px 9px 33px 9px;
    border-radius: 12px 8px 13px 8px;
    border-color: #e8a020;
}

.footer {
    container: footer / inline-size;
    margin-top: 230px;
    align-items: center;
    gap: 14px;
    font-family: 'Montserrat Alternates';
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0px;
    padding-top: 49px;
    padding-bottom: 36px;
}

.footer-row-top {
    margin-left: -73px;
    display: flex;
    align-items: flex-start;
    gap: 34px;
    color: #8a7a60;
    font-size: 13px;
    padding-left: 1px;
    padding-top: 5px;
}



/* circle-symbol */

.circle-symbol {
    position: relative;
    margin-top: 4px;
    width: 48px; height: 48px;
    flex-shrink: 0;
    background-color: #2a1800;
    border-radius: 50%;
}

.circle-symbol-send {
    position: absolute; top: 15px; left: 50%; 
    translate: -50% 0;
    width: 19px;
}
/* end circle-symbol*/


.footer-col-left {
    margin-top: 2px;
    width: 217px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    flex-shrink: 0;
    text-align: left;
    padding-bottom: 7px;
}

.footer-subtitle {
    margin-left: -2px; margin-top: -14px;
    align-self: start;
    color: #e8a020;
    font-size: 28px;
    font-weight: 700;
}

.footer-text-symbol1 {
    margin-left: -2px; margin-right: -1px;
    font-weight: 400;
}

.footer-symbol1 {
    margin-left: 196px;
    width: 130px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex-shrink: 0;
    text-align: left;
}

.footer-text-symbol2 {
    margin-top: 7px;
}

.footer-symbol2 {
    margin-left: 40px;
    width: 159px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex-shrink: 0;
    text-align: left;
}

.footer-text-plus {
    margin-top: 7px;
}

.footer-text-symbol6 {
    margin-top: 6px;
}

.circle-symbol1 {
    margin-left: 68px;
}

.circle-symbol2 .circle-symbol-instagram {
    width: 11px;
}

.footer-line {
    margin-left: -9px; margin-top: 87px;
    width: 100%; height: 0;
    max-width: 1280px;
    flex-shrink: 0;
    border-top: 1px solid #2e1a00;
}

.footer-row-bottom {
    margin-left: -22px;
    width: 100%;
    max-width: 1211px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #5a4a30;
    font-size: 12px;
}

.footer-text-copyright-2026-strm {
    margin: -3px 0 -1px -1px;
    text-align: left;
}

.footer-text-symbol7 {
    margin: -3px -1px -1px 0;
    text-align: right;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 1280px) {
    .header {
        padding-inline: var(--margin-sm);
    }
    .hero {
        padding-inline: var(--margin-md);
    }
    .title-symbol1 {
        margin-inline: var(--margin-sm);
    }
    .title-symbol2 {
        margin-inline: var(--margin-sm);
    }
    .row-bottom {
        padding-inline: 0;
    }
    .newsletter {
        padding-inline: var(--margin-sm);
    }
    .footer-symbol1 {
        margin-inline: 0;
    }
    .footer-text-symbol7 {
        margin-inline: 0;
    }
}

@media screen and (max-width: 576px) {
    .hero {
        padding-inline: var(--margin-sm);
    }
}



/* container queries (flex rows) */

@container body (width < 1428px) {
    .header {
        flex-direction: column;
        align-items: center;
        gap: 14px;
        padding: 13px 10px;
    }
    .subtitle {
        margin-left: 0; margin-right: 0;
    }
    .text-symbol1 {
        margin-left: 0; margin-right: 0;
    }
    .title-symbol1 {
        margin-left: 0; margin-right: 0;
    }
    .title-symbol2 {
        margin-left: 0; margin-right: 0;
    }
    .header > * {
        margin-left: unset !important; margin-top: unset !important;
        text-align: center;
    }
}

@container body (width < 1083px) {
    .row1 {
        flex-direction: column;
        align-items: center;
        gap: 1px;
    }
    .row1 > .card-classic {
        width: 100%;
        max-width: 459px;
        align-items: center;
    }
    .row1 > .card-acoustic {
        width: 100%;
        max-width: 459px;
        align-items: center;
    }
}

@container body (width < 1083px) {
    .row2 {
        flex-direction: column;
        align-items: center;
        gap: 1px;
    }
    .row2 > .card-electro {
        width: 100%;
        max-width: 459px;
        align-items: center;
    }
    .row2 > .card-bass {
        width: 100%;
        max-width: 459px;
        align-items: center;
    }
}

@container body (width < 1231px) {
    .row3 {
        flex-direction: column;
        align-items: center;
        gap: 77px;
    }
    .row3 .card-row-bottom {
        align-self: center;
    }
    .row3 > .card2 {
        align-items: center;
    }
    .row3 .card-row-bottom {
        align-self: center;
    }
    .row3 > .card3 {
        align-items: center;
    }
    .row3 .card-row-bottom {
        align-self: center;
    }
    .row3 > .card4 {
        align-items: center;
    }
}

@container col1 (width < 1072px) {
    .row-bottom {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        gap: 21px;
    }
    .row-bottom > * {
        margin-left: unset !important; margin-right: unset !important; margin-top: unset !important;
    }
    .row-bottom > .col-left {
        align-items: center;
    }
    .row-bottom > .group3 {
        align-items: center;
    }
    .row-bottom > .col2 {
        align-items: center;
    }
    .row-bottom > .col-right {
        align-items: center;
    }
}

@container newsletter (width < 607px) {
    .input-group-bottom {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .input-group-bottom > * {
        margin-left: unset !important; margin-top: unset !important;
        text-align: center;
    }
    .input-group-bottom > .input-group-bottom-symbol {
        width: 100%;
        max-width: 402px;
    }
}

@container footer (width < 1270px) {
    .footer-row-top {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .footer > * {
        margin-left: 0; margin-right: 0;
    }
    .footer-row-top > * {
        margin-left: unset !important; margin-top: unset !important;
        text-align: center;
    }
    .footer-row-top .footer-subtitle {
        align-self: center;
    }
    .footer-row-top > .footer-col-left {
        align-items: center;
    }
    .footer-row-top > .footer-symbol1 {
        width: 100%;
        max-width: 130px;
    }
}

@container footer (width < 594px) {
    .footer-row-bottom {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    .footer-row-bottom > * {
        margin-left: unset !important; margin-right: unset !important; margin-top: unset !important;
        text-align: center;
    }
}

::before,
::after {
  --tw-content: '';
}


html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

*{
    box-sizing: border-box;
}

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-size: 1em; /* 4 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}


button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
    border:0;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}


button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
}

img,
video {
    /* disable max-width solves bug img-export/propagation > nested-img-bigger */
    max-width:100%;
  height: auto;
}

[hidden] {
  display: none;
}

*{
    text-underline-offset: 0.134em;
}